<main class="mt-5">
    <div class="container">
        <card class="mx-auto">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="https://raw.githubusercontent.com/mvvp4/RehabilitaTuSer/refs/heads/main/Resources/icons/logo/12.png" alt="logo" style="width: 10vh; display: block;">
                <h1 class="text-uppercase text-center p-4">
                    Hola
                </h1>
                <div class="card-body text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis vitae at iste nemo quae a aliquam praesentium et debitis assumenda? Provident accusamus ab placeat eaque quibusdam impedit delectus iusto sequi?</p>
                    <a href="/admin/new-service" class="btn btn-dark">Crear servicio</a>
                </div>
            </div>
        </card>
    </div>
</main>